<p-panel class="mt-3 block" header="Pipes númericos">

    <div class="grid">
  
      <article class="col-12 md:col-4">
        <p-card class="custom-card" header="i18nSelect Pipe">
            <p>
                Saludos {{ name }}, es un placer {{ gender | i18nSelect:invitationMap }}
                a nuestro evento.
            </p>  

            <p-button styleClass="p-button-sm" (click)="handleChangeGender()">
                Cambiar
            </p-button>

        </p-card>
      </article>
  
      <article class="col-12 md:col-4">
        <p-card class="custom-card" header="i18nPlural Pipe">
            <p>
              {{ clientes.length | i18nPlural:clientsMap }} 
            </p>  

            <p-button styleClass="p-button-danger p-button-rounded p-button-sm" (click)="handleEliminarCliente()">
              Eliminar
            </p-button>

        </p-card>
      </article>
  
      <article class="col-12 md:col-4">
        <p-card class="custom-card" header="Slice Pipe">
            <p>
              {{ clientes | slice:0:3 }} 
            </p>  
        </p-card>
      </article>
      
      <article class="col-12 md:col-4">
        <p-card class="custom-card" header="KeyValuePipe">
          <ul>
            <li *ngFor="let item of person | keyvalue">
              {{ item | json }}
            </li>
          </ul> 
        </p-card>
      </article>
  
      <article class="col-12 md:col-4">
        <p-card class="custom-card" header="Async Pipe">
          <p style="margin: 0;">
            {{ myObservableTimer | async }}
          </p>
          <p>
            {{ myObservableTimer | json }}
          </p>
          <p>
            {{ myPromise | async }}
          </p>
        </p-card>
      </article>
  
    </div>
  
  </p-panel>
  