<p-panel class="mt-3 block" header="Pipes basicos">

  <div class="grid">
    <article class="col-12 md:col-4">
      <p-card class="custom-card" header="Uppercase">
        {{ nameLower | uppercase }}
      </p-card>
    </article>
    <article class="col-12 md:col-4">
      <p-card class="custom-card" header="Lowercase">
        {{ nameLower | lowercase }}
      </p-card>
    </article>
    <article class="col-12 md:col-4">
      <p-card class="custom-card" header="Titlecase">
        {{ nameLower | titlecase }}
      </p-card>
    </article>

    <article class="col-12 md:col-4">
      <p-card class="custom-card" header="Date short">
        {{ fechaActual | date:'short':'' }}
      </p-card>
    </article>

    <article class="col-12 md:col-4">
      <p-card class="custom-card" header="Date medium">
        {{ fechaActual | date:'medium':'' }}
      </p-card>
    </article>

    <article class="col-12 md:col-4">
      <p-card class="custom-card" header="Date long">
        {{ fechaActual | date:'long':'' }}
      </p-card>
    </article>

    <article class="col-12 md:col-4">
      <p-card class="custom-card" header="Date full">
        {{ fechaActual | date:'full' }}
      </p-card>
    </article>

    <article class="col-12 md:col-4">
      <p-card class="custom-card" header="Date full ingles">
        {{ fechaActual | date:'full':'':'en' }}
      </p-card>
    </article>

    <article class="col-12 md:col-4">
      <p-card class="custom-card" header="Date full ruso">
        {{ fechaActual | date:'full':'':'ru' }}
      </p-card>
    </article>


  </div>

</p-panel>
