
body
{
  margin: 0;
  padding: 0;
}

.mr-2
{
  margin-right: 1rem;
}

.container
{
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.custom-card > .p-card
{
  /* background-color: #0b213f; */
  background-color: #040d19;
}
